@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  color: #fff;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.font-size {
  font-size: 14px;
}

.background {
  background: url('../images/0ad29c703759b887a378fcf1e955470a.jpg') no-repeat center center/cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-register {
  background: url('../images/regbacground.jpeg') no-repeat center center/cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 12px;
  height: auto;
  width: 100%;
  max-width: 529px;
  text-align: center;
  position: relative;
}

.logo {
  font-size: 24px;
  margin-bottom: 10px;
}

.logo span {
  font-size: 32px;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 50px;
  background-color: #222;
  color: #fff;
}

.password-wrapper {
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
}

.toggle-password {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 12px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

.login-button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #383838;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-button:hover {
  background-color: #cd5505;
}

.separator {
  margin: 10px 0;
  font-size: 14px;
  color: #aaa;
}

.google-login {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  align-items: center;    
}

.google-login:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
  }

  .login-container {
    padding: 15px;
    width: 90%;
    max-width: 400px;
  }

  input {
    padding: 8px;
    font-size: 14px;
  }

  .links {
    flex-direction: column;
    text-align: center;
  }

  .links a {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 18px;
  }

  .logo span {
    font-size: 28px;
  }

  input {
    padding: 6px;
    font-size: 12px;
  }

  .login-button, .google-login {
    padding: 8px;
    font-size: 14px;
  }

  .password-wrapper {
    flex-direction: column;
  }

  .toggle-password {
    margin-left: 0;
    margin-top: 5px;
  }
}
